extends ../admin/adminLayout.pug
block content
    title Управление клиентами
    .container
        .search-box
        label(style="" for="keyword") 
            b Поиск клиентов по логинам:
            input(style="margin-left:30px;width:200px" type="text" name="keyword")
        .container-child
    script.
        const clients = !{JSON.stringify(clients)};
        const searchbox = document.querySelector("input");
        const clientPanel = document.querySelector(".container-child");
        searchbox.addEventListener('input', findItems)
        document.addEventListener('DOMContentLoaded',ShowClient(clients));
        function findItems(e){
            var key = e.target.value;
            console.log(key);
            const filteredClients = clients.filter(client => client.username.toLowerCase().includes(key));
            ShowClient(filteredClients);
        }
        function ShowClient(varclients){
            clientPanel.innerHTML = '';
            for(const client of varclients){
            var clientview = document.createElement('div');
            clientview.className="client-view";
            clientview.innerHTML=`               
            <h2 style="width:40%">Логин:<i style="color:#3066BE">${client.username}</i></h2>
            <ul style="width:50%"> 
            <li>ID:<b> ${client._id}</b></li>
            <li>Имя:<b> ${client.firstName}</b></li>
            <li>Фамилия:<b> ${client.lastName}</b></li>
            <li>Адрес:<b> ${client.address}</b></li>
            <li>Почта:<b> ${client.email}</b></li>
            <li>Телефон:<b> ${client.tel}</b></li>
            </ul>
            <div class="order-view">
            <button class="ordershow" onclick="ShowOrder('${client._id}')"><h2>ЗАКАЗЫ</h2></button>
            <ul id='list${client._id}'><ul>
            </div>
            `
            clientPanel.append(clientview);
            }
        }
        async function ShowOrder(userID){
            await fetch(`/admin/get-orders?userID=${userID}`,
            {method:"GET",
            headers:{
                'Content-Type':"application/json"
            }}
            ).then(response=>{response.json().then(orders=>{
            console.log(orders)
            const list = document.querySelector(`#list${userID}`)   
            list.innerHTML=''
            for(const order of orders){
                console.log(order)
                const orderinlist = document.createElement('li')
                orderinlist.innerHTML=`${order.totalAmount} $`
                list.append(orderinlist)
            }}
            )})
        }